body {
font-family: 'Poppins', sans-serif;
text-align: center;

}

.navbar-collapse {
  justify-content: flex-end;
  background-color: #43B0F1;
  color: #E8EEF1;

}
.top-container {
  background-color: #43B0F1;
  width: 100%;
}
.nav-item {
  margin-left: 20px;
  color: #E8EEF1;
}

.nav-link {
  color: #E8EEF1;
}

.navbar {
  height: 100px;
  background-color: #43B0F1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 1.5rem;

  color: #E8EEF1;
}

.navigation {
  background-color: #43B0F1;
}


/* About Section */

#about {
  
  line-height: 1.5;
  color: #1E3D58;
  background-color: #E8EEF1;
  width: 100%;
}


.about-para-1{
  background-color: lightgray;
  text-align: center;
 margin: 0;
 display: flexbox;
  width: 67%;
  font-size: 2.3rem;
   font-weight: 200;
   padding-top: 50px;
   
}

.about-para {
  background-color: lightgray;
  text-align: center;
 margin: 0;
  width: 67%;
  font-size: 2.3rem;
   font-weight: 200;
   padding: 30px;
   
   }

   .btn {
     margin-top: 20px;
     margin-left: 0px;
   }

#image1 {
  height: 40rem;
  margin: auto;
  margin-bottom: 100px;
  display: flex-end;
}

#signUp img{
  
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  


}

.card img{
  
  width: 65px;
  height: 65px;
  margin: auto;
  margin-bottom: 20px;
  display: block;

}





#cta {
  margin: 40px, 20px, 40px, 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  
  
  
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-color: #43B0F1;
  display: flex;
  border-width: 5px;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  width: 300px;
  height: auto;
  
  
  
  
}



.big-title {
  padding: 30px 30px;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  
}

hr {
  margin: auto;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  background-color: #E8EEF1;
  padding: 20px;
 }



 .second {
   margin-top: 50px;
 }
